* {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(black, rgb(50, 50, 50));
    background-attachment: fixed;
}

div {
    float: left;
}

.main h1 {
    font-family: main;
    font-size: 100px;
    color: white;
    padding: 50px;
    border-style: dotted;
    border-color: rgb(50, 50, 50);
    text-shadow: 5px 5px 10px black;
}

.main h1:hover {
    border-style: solid;
}

.main p {
    font-family: main;
    color: white;
    font-size: 40px;
    padding-left: 50px;
    text-decoration: underline;
    text-decoration-color: black;
}


#stevens {
    max-width: 100%;
    width: 400px;
    padding: 50px;
}

#face {
    padding: 50px;
    max-width: 100%;
}

#links {
    padding-left: 75px;
}

#links img {
    width: 100px;
}

@font-face {
    font-family: main;
    src: url(fonts/KeepCalm-Medium.ttf);
}