* {
    box-sizing: border-box;
    font-family: monospace;
}

body {
    margin: 0px;
    background-color: lightgray;
}

.index {
    overflow: hidden;
    background-color: black;
}

.index a {
    float: left;
    display: block;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-size: 30px;
    color: white;
}

.index a:hover {
    text-shadow: 2px 2px 5px red;
}

.content {
    padding: 10px;
}

.content h1 {
    font-size: 50px;
    text-decoration: underline;
}

.content p {
    font-size: 35px;
    line-height: 75px;
}

.mj {
    float: right;
    margin-top: -450px;
    margin-right: 100px;
    height: 500px;
}

.stevens {
    float: right;
    margin-top: -700px;
    margin-right: 200px;
    height: 300px;
}

@media screen and (max-width: 1600px) {
    .mj, .stevens {
        margin-right: 0px;
    }
}

@media screen and (max-width: 1500px) {
    .mj, .stevens {
        margin-top: 0px;
    }
}

@media screen and (max-width: 800px){
    .content h1 {
        font-size: 40px;
    }
    .content p {
        font-size: 25px;
        line-height: 50px;
    }
    .mj {
        height: 350px;
    }
    .stevens {
        height: 200px;
    }
}

@media screen and (max-width: 550px){
    .content h1 {
        font-size: 30px;
    }
    .content p {
        font-size: 17.5px;
        line-height: 35px;
    }
    .mj {
        height: 300px;
    }
    .stevens {
        height: 150px;
    }
}

@media screen and (max-width: 400px){
    .index a {
        font-size: 20px;
        padding: 15px;
    }
}